<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="tcpBinding" closeTimeout="00:00:10" openTimeout="00:00:10"
                    receiveTimeout="00:20:00" listenBacklog="10" maxBufferPoolSize="67108864"
                    maxBufferSize="67108864" maxConnections="100" maxReceivedMessageSize="67108864">
                  <readerQuotas maxStringContentLength="67108864" maxArrayLength="67108864"
                      maxBytesPerRead="67108864" />
                    <reliableSession inactivityTimeout="00:20:00" enabled="true" />
                </binding>
            </netTcpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="behaviorConfig">
                    <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                    <serviceThrottling maxConcurrentCalls="100" maxConcurrentInstances="26" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="behaviorConfig" name="Contact.Server.GameService">
                <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="tcpBinding"
                    name="NetTcpBindingEndPoint" contract="Contact.Server.IGameService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="net.tcp://localhost:4348/ContactGameService/mex"
                    binding="mexTcpBinding" bindingConfiguration="" name="MexTcpBindingEndPoint"
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:4342/ContactGameService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>